<a href="https://colab.research.google.com/github/rohitmahala95/html/blob/master/3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# String Concatination

first_name = "Rohit"
last_name = "Mahala"
print(first_name + " " + last_name)

# 2nd solution

first_name = "Rohit"
last_name = "Mahala"
full_name = first_name + " " + last_name
print(full_name)

Rohit Mahala
Rohit Mahala

In [5]:
# We cant add a string and a integer directly
# For Ex:- print("rohit" + 3)  will give you a error

# Right Solution
name = "Roiht"
print(name + "3") # no error

print(name * 3) # it will print the name three times

Roiht3
RoihtRoihtRoiht

In [8]:
# User Input.        # input function will take all inputs in strings
name = input("Enter your Name: ")
age = input("Enter your age: ")
print(name)
print("Hello" + name)
print("Your age is: " + age)

Enter your Name: Rohit
Enter your age: 24
Rohit
HelloRohit
Your age is: 24

In [12]:
# int() Function
number_one = input("Enter number 1: ")
number_two = input("Enter number 2: ")
total = number_one + number_two
print("Total is: " + total) #Because in this program when we enter a number then 
                            #it will behave like a string
                            #so  that now we will use here int() function

number_one = int(input("Enter number 1: "))
number_two = int(input("Enter number 2: "))
total = number_one + number_two
print("Total is: " + str(total))

Enter number 1: 33
Enter number 2: 33
Total is: 3333
Enter number 1: 33
Enter number 2: 44
Total is: 77

In [14]:
number1 = str(4)
number2 = int("33")
number3 = float("44") 
print(number2 + number3) #when we add a integer and float number
                         #then output will be a float number

77.0

In [17]:
#More About variables
#two strings in one line 

name, age = "Rohit", "24"
print("Hello " + name + " Your age is " + age)


x=y=z=1
print(x+y+z)

Hello Rohit Your age is 24
3

In [19]:
#two or more input function in one line 
name, age = input("Enter your name and age: ").split()
name, age = input("Enter your name and age: ").split(",")
print(name)
print(age)

Enter your name and age: rohit 24
Enter your name and age: rohit, 24
rohit
 24

In [23]:

name = "Rohit"
age = 24
print("Hello " + name + " Your age is : " + str(age)) #ugly syntax

#String formatting
print("Hello {} Your age is : {}".format(name, age)) #python3 string formatting
print(f"Hello {name} Your age is : {age}") #pytho3.6 string formatting

Hello Rohit Your age is : 24
Hello Rohit Your age is : 24
Hello Rohit Your age is : 24